.searchPage {
  margin: 0 auto;
  width: 500px;
  max-width: 90%;
}

.titleSceneIt {
  font-size: 46pt;
  color: #DD4247;
}

.formGroup {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  align-items: center;
}

.formGroup label {
  margin-bottom: 10px;
}

.formGroup ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}